<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <Appenders>
    	 <!--target 指的是信息输出的色彩SYSTEM_OUT和SYSTEM_ERR,代表红色和常色-->
        <Console name="ConsoleSql" target="SYSTEM_OUT">
        <!-- "%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n" -->
        <!-- "%d{ABSOLUTE} &lt;%c&gt; %5p [%t]: %m%n" -->
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS}[%-5level]%logger{36} - %msg%n"/>
        </Console>

        <Console name="Console" target="SYSTEM_ERR">
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS}[%-5level]%logger{36} - %msg%n"/>
        </Console>

        <RollingRandomAccessFile name="SERVICE_LOG_FILE" fileName="logs/order/service.log"
                                 filePattern="logs/$${date:yyyy-MM}/service-%d{yyyy-MM-dd}-%i.log.gz">
            <PatternLayout charset="UTF-8" pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy/>
            </Policies>
            <DefaultRolloverStrategy/>
        </RollingRandomAccessFile>

    </Appenders>

    <Loggers>
    	<Root level="info"> <!--root元素定义根日志输出器root logger-->
                     <AppenderRef ref="Console" />
                     <!--appender-ref元素引用一个appender元素的名字，为logger对象增加一个appender。-->
        </Root>
        <logger name="newb.c.dao"  level="debug"  additivity="false"  />
  		<logger name="newb.c.mapping" level="DEBUG" /> 
  		<logger name="java.sql.Connection" level="INFO" /> 
  		<logger name="java.sql.Statement" level="INFO" /> 
  		<logger name="java.sql.PreparedStatement" level="INFO" /> 
  		<logger name="java.sql.ResultSet" level="INFO" />
  		<logger name="springfox.documentation.spring.web.readers" level="ERROR" />

    </Loggers>
</Configuration>