<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd">

	<!-- 配置调度工厂 -->
	<bean class="org.springframework.scheduling.quartz.SchedulerFactoryBean">
		<property name="triggers">
			<list>
				<ref bean="cronTrigger" />
				<ref bean="simpleTrigger" />
			</list>
		</property>
	</bean>

	<!--间隔时间执行 -->
	<bean id="simpleTrigger" class="org.springframework.scheduling.quartz.SimpleTriggerFactoryBean">
		<property name="jobDetail" ref="job1" />
		<property name="startDelay" value="0" />
		<property name="repeatInterval" value="20000" />   <!--1000 为1秒-->
	</bean>

	<!--定时执行-->
	<bean id="cronTrigger" class="org.springframework.scheduling.quartz.CronTriggerFactoryBean">
		<property name="jobDetail" ref="job1" />
		<property name="cronExpression" value="0 0/5 * * * ?" />
	</bean>

	<!-- 执行的bean -->
	<bean name="job1" class="org.springframework.scheduling.quartz.JobDetailFactoryBean">
		<property name="jobClass" value="newb.c.a_module.jobs.QuartzJob1" />
	</bean>

</beans>