<?xml version="1.0" encoding="UTF-8"?>
<beans
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:jpa="http://www.springframework.org/schema/data/jpa"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-4.1.xsd
	http://www.springframework.org/schema/context
	http://www.springframework.org/schema/context/spring-context-4.1.xsd
	http://www.springframework.org/schema/data/jpa
    http://www.springframework.org/schema/data/jpa/spring-jpa.xsd
">

	<bean id="processBean" class="newb.c.a_spring.a_config.springBean.ProcessBean">
		<property name="username" value="1" />
		<property name="password" value="1" />
	</bean>
	<!--引入配置属性文件 -->
	<!-- 记得以前这里也报过错，暂时不要删除 -->
	<context:property-placeholder location="classpath:config/properties/*.properties" />

    <context:component-scan base-package="newb.c.a_spring"/>

	<!--<context:component-scan base-package="newb.c" use-default-filters="false">
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Repository" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
		<context:exclude-filter type="regex" expression="new.c.webmodule.aopproxy.*" />
	</context:component-scan>-->

	<!--<context:component-scan base-package="newb.c" use-default-filters="false">
		&lt;!&ndash; 扫描componet会同时包括 controller  所有下面那个排除没起作用   以后不使用 component注解  ，只使用其他三个&ndash;&gt;
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Component" />
		<context:include-filter type="annotation" expression="org.springframework.stereotype.Service" />
  		<context:exclude-filter type="regex" expression="new.c.controller.*Controller" />
  		<context:exclude-filter type="regex" expression="new.c.webmodule.aopproxy.*" />
    </context:component-scan>-->

	<import resource="mybatis/spring-mybatis-One.xml" />
	<!-- <import resource="mybatis/spring-mybatis-Shard.xml" /> -->
	<!-- <import resource="mail/spring-mail.xml"/> -->

	<!-- 定时任务 -->
	<!-- <import resource="job/spring-task.xml" /> -->
	<!-- <import resource="job/spring-job2.xml" /> -->
	<!-- <import resource="job/spring-quarz-distributed.xml" /> -->

	<!-- 分布式事务 -->
	<!-- <import resource="atomikos/spring-jta.xml" /> -->

	<!-- activiti工作流 -->
	<!-- <import resource="activiti/spring-activiti.xml" /> -->

	<!-- ehcache 缓存 -->
	<!--<import resource="cache/spring-ehcache.xml"/>-->
	<!--<import resource="cache/spring-guavaCache.xml"/>-->

	<!-- guava缓存 -->
	<!-- <import resource="cache/spring-guava.xml"/> -->

	<!-- redis 不能注释，连不上没关系 -->
	<import resource="cache/spring-cache.xml"/>
	<!--<import resource="cache/spring-redis.xml"/>-->
	<!--<import resource="cache/spring-redisCache.xml"/>-->


	<!-- mongodb 不能注释，连不上没关系 -->
	<!--<import resource="mongodb/spring-mongodb.xml"/>-->

	<!-- aop -->
	<!-- <import resource="aop/spring-aop.xml" /> -->

	<!-- 分布式session 存redis中 -->
	<!-- <import resource="session/spring-session.xml"/> -->

	<!-- activeMQ -->
	<import resource="mq/spring-activemq.xml"/>

	<!-- Rabbitmq -->
	<!-- <import resource="mq/spring-rabbitmq.xml"/> -->
	
	<!-- <import resource="mq/spring-kafka-producer.xml"/>
	<import resource="mq/spring-kafka-consumer.xml"/> -->
	
	<!-- cxf webservice 需先启用web.xml 中的配置 -->
	<!-- <import resource="webservice/cxf/spring-cxf.xml"/> -->

	<!-- rmi java远程调用 -->
	<!-- <import resource="rmi/spring-rmi.xml"/> -->

	<!-- dubbo -->
	<!--<import resource="dubbo/spring-dubbo.xml"/>-->
	<!-- <import resource="dubbo/spring-dubboxRest.xml"/> -->

	<!-- elasticsearch -->
	<!--<import resource="elasticsearch/elasticsearch.xml"/>-->
	<!--<import resource="elasticsearch/spring-elasticsearch.xml"/>-->


	<!--配置注解  -->
	<!-- <tx:annotation-driven transaction-manager="transactionManager" /> -->
	<!--自动扫描含有@Service将其注入为bean -->
	<!-- <context:component-scan base-package="newb.c.service" /> -->
</beans>