<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="newb.c.a_spring.backend.sql.dao.ResultMapper" >
  <resultMap id="BaseResultMap" type="newb.c.a_spring.backend.sql.model.basemodel.Result" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="f_1" property="f1" jdbcType="LONGVARCHAR" />
    <result column="f_2" property="f2" jdbcType="LONGVARCHAR" />
    <result column="f_3" property="f3" jdbcType="LONGVARCHAR" />
    <result column="f_4" property="f4" jdbcType="LONGVARCHAR" />
    <result column="f_5" property="f5" jdbcType="LONGVARCHAR" />
  </resultMap>
  
  <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" >  
	<property name="timeToIdleSeconds" value="3600"/>
	<property name="timeToLiveSeconds" value="3600"/>
	<property name="maxEntriesLocalHeap" value="1000"/>  
	<property name="maxEntriesLocalDisk" value="10000000"/>  
	<property name="memoryStoreEvictionPolicy" value="LRU"/>  
  </cache> -->
</mapper>