<?xml version="1.0" encoding="UTF-8"?>  
<beans xmlns="http://www.springframework.org/schema/beans"  
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"  
    xmlns:dubbo="http://code.alibabatech.com/schema/dubbo"  
    xsi:schemaLocation="http://www.springframework.org/schema/beans  
        http://www.springframework.org/schema/beans/spring-beans.xsd  
        http://code.alibabatech.com/schema/dubbo  
        http://code.alibabatech.com/schema/dubbo/dubbo.xsd  
        ">  
    
    <!-- 提供方应用信息，用于计算依赖关系 -->
    <dubbo:application name="ihih_provider"  />
   
    <!-- 使用multicast广播注册中心暴露服务地址    -->
    <!-- 使用多播 multicast 注册不知道为什么消费者无法 获取bean 报错 -->  
    <!-- <dubbo:registry address="multicast://224.5.6.7:1234" />   -->
    
    <!-- 使用zookeeper注册中心暴露服务地址 -->  
    <!-- <dubbo:registry address="zookeeper://127.0.0.1:2181" />    -->
    <!--<dubbo:registry address="${dubbo.url}" /> -->
    <dubbo:registry address="zookeeper://192.168.1.188:2181" />

    <!-- 用dubbo协议在20880端口暴露服务 -->  
    <dubbo:protocol name="dubbo" port="20880" />  
   
   
    <!-- 具体的实现bean -->  
    <bean id="demoService" class="newb.c.a_spring.a_module.dubbo.DemoServiceImpl" />
    <bean id="demoService2" class="newb.c.a_spring.a_module.dubbo.DemoServiceImpl2" />
    <bean id="demoService3" class="newb.c.a_spring.a_module.dubbo.DemoServiceImpl3" />
   
    <!-- 声明需要暴露的服务接口 -->  
    <dubbo:service interface="newb.c.a_spring.a_module.dubbo.DemoService" ref="demoService" />
    <dubbo:service interface="newb.c.a_spring.a_module.dubbo.DemoService2" ref="demoService2" />
    <dubbo:service interface="newb.c.a_spring.a_module.dubbo.DemoService3" ref="demoService3" />
</beans>