<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="newb.c.dao.ResultMapper" >
  <resultMap id="BaseResultMap" type="newb.c.model.Result" >
    <!--
      WARNING - @mbggenerated
    -->
    <id column="oid" property="oid" jdbcType="INTEGER" />
    <result column="f_1" property="f1" jdbcType="LONGVARCHAR" />
    <result column="f_2" property="f2" jdbcType="LONGVARCHAR" />
    <result column="f_3" property="f3" jdbcType="LONGVARCHAR" />
    <result column="f_4" property="f4" jdbcType="LONGVARCHAR" />
    <result column="f_5" property="f5" jdbcType="LONGVARCHAR" />
  </resultMap>
</mapper>