<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newb.c.dao.UserMapper">
  <resultMap id="BaseResultMap" type="newb.c.model.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  
  <insert id="insertAll" parameterType="java.util.List">
  	insert user(oid,username,password) values
  	<foreach collection="list" item="user" index="index" separator=",">
  		(#{user.oid},#{user.username},#{user.password})
  	</foreach>
  </insert>
</mapper>