<!DOCTYPE html>
<html>

<head>
  <title>indexVue.html</title>
</head>
<script src="https://cdn.bootcss.com/vue/2.3.4/vue.min.js"></script>
<script src="https://cdn.bootcss.com/element-ui/1.3.7/index.js"></script>
<link href="https://cdn.bootcss.com/element-ui/1.3.7/theme-default/index.css" rel="stylesheet">

<body>
  <div id="app">
    {{ message }}
  </div>
  <br>

  <div id="app-2">
    <span v-bind:title="message">
    	鼠标放上来
  	</span>
  </div>
  <br>

  <div id="app-3">
    <p v-if="seen">隐藏显示</p>
    <el-button type="primary" v-on:click="show">隐藏显示</el-button>
  </div>
  <br>

  <div id="app-4">
    <el-card class="box-card">
      <div v-for="todo in todos" :key="todo" class="text item">
        {{ todo.text }}
      </div>
    </el-card>
  </div>

  <div id="app-5">
    <p>{{ message }}</p>
    <el-button type="primary" v-on:click="reverseMessage">反转</el-button>
  </div>
</body>
<script>
  var app = new Vue({ //app.message = 'some new message'
    el: '#app',
    data: {
      message: 'Hello Vue!'
    }
  })

  var app2 = new Vue({ //app2.message = 'some new message'
    el: '#app-2',
    data: {
      message: '你进入这个网页的时间为 ' + new Date()
    }
  })

  var app3 = new Vue({ //app3.seen = false
    el: '#app-3',
    data: {
      seen: true
    },
    methods: {
      show: function() {
        this.seen = !this.seen;
      }
    }
  })


  var app4 = new Vue({ //app4.todos.push({ text: 'New item' })
    el: '#app-4',
    data: {
      todos: [{
        text: 'Learn JavaScript'
      }, {
        text: 'Learn Vue'
      }, {
        text: 'Build something awesome'
      }]
    }
  })


  var app5 = new Vue({
    el: '#app-5',
    data: {
      message: 'Hello Vue.js!'
    },
    methods: {
      reverseMessage: function() {
        this.message = this.message.split('').reverse().join('')
      }
    }
  })
</script>
<style>
  .text {
    font-size: 14px;
  }

  .item {
    padding: 18px 0;
  }

  .box-card {
    width: 480px;
  }
</style>

</html>
