<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="newb.c.backend.dao.UserMapper">
  <resultMap id="BaseResultMap" type="newb.c.backend.model.basemodel.User">
    <!--
      WARNING - @mbggenerated
    -->
    <id column="oid" jdbcType="INTEGER" property="oid" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="password" jdbcType="VARCHAR" property="password" />
  </resultMap>
  
  <!-- <cache type="org.mybatis.caches.ehcache.LoggingEhcache" >  
	<property name="timeToIdleSeconds" value="3600"/>
	<property name="timeToLiveSeconds" value="3600"/>
	<property name="maxEntriesLocalHeap" value="1000"/>  
	<property name="maxEntriesLocalDisk" value="10000000"/>  
	<property name="memoryStoreEvictionPolicy" value="LRU"/>  
  </cache> -->
  
  <resultMap id="trinMap" type="newb.c.backend.model.UserTrin">
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="name" property="name" jdbcType="VARCHAR" />
    <result column="age" property="age" jdbcType="INTEGER" />
    <!-- 一对一关联查询 -->
    <!-- 实现对用户信息进行延迟加载
    select：指定延迟加载需要执行的statement的id（是根据user_id查询用户信息的statement）
        要使用userMapper.xml中findUserById完成根据用户id(user_id)用户信息的查询，如果findUserById不在本mapper中需要前边加namespace
    column：订单信息中关联用户信息查询的列，是user_id
        关联查询的sql理解为：
    SELECT orders.*,
    (SELECT username FROM USER WHERE orders.user_id = user.id)username,
    (SELECT sex FROM USER WHERE orders.user_id = user.id)sex
     FROM orders
         与非延迟加载的主要区别就在association标签属性多了select和column
     -->
    <association property="user" javaType="User" resultMap="BaseResultMap"/>
    <association property="result" javaType="Result" resultMap="BaseResultMap"/>
    <!-- 一对多关联查询 -->
    <!-- <collection property=""></collection> -->
  </resultMap>
  
	  
  <insert id="insertAll" parameterType="java.util.List">
  	insert user(oid,username,password) values
  	<foreach collection="list" item="user" index="index" separator=",">
  		(#{user.oid},#{user.username},#{user.password})
  	</foreach>
  </insert>
  
  <select id="selectUserAndUserCacheByUser" parameterType="int" resultMap="trinMap">
  	<!-- 第一种SQL写法 -->
  	<!-- select id,name,age,user.oid,user.username,user.password 
  		from user_cache 
  	left join user on user_cache.id=user.oid
  	where user_cache.id = #{id}  -->
  	<!-- 第二种 -->
  	<!-- select user_cache.id,user_cache.name,user_cache.age,user.oid,user.username,user.password 
  		from user_cache,user 
  	where user_cache.id=user.oid and user.oid=#{id} -->
  	select user_cache.*,user.*,result.*
  		from user_cache,user,result
  	where
      user_cache.id=user.oid
      and result.oid =user.oid
      and user.oid=#{id}
  </select>
  
</mapper>